.jumbotron {
    padding: 2rem 1rem;
    background-color: orange;
}


#id1 h1{
    font-size: 50pt;
    background-color: aliceblue;
    margin-bottom: 2.5cm;
    color: black;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.kelas1{
    margin-top: 1cm;
    margin-bottom: 1cm;
}

.kelas2{
    color: aliceblue;
    font-family: Arial, Helvetica, sans-serif;
}

.kelas3{
    background-color:bisque;
}
.kelas4{
    margin-top: 5mm;
}

.donglut {
    color: black;
    text-decoration: none;
}